body {
        padding-top: 150px;
        font-family:lobster;
        text-align: center;
        background-color: #E5E5E5;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    h1 {
		font-size:600%;
	}
	.navbar-brand{
		font-size: 100%;
	}
	a:link{color: #9d9d9d;text-decoration: none;}
	a:visited{color: #9d9d9d;text-decoration: none;}
	a:hover{color: #333;;text-decoration: none;}
	a:active{color: #9d9d9d;text-decoration: none;}
	
	/*navbar section*/
	.navbar-inverse{background-color: #E5E5E5;border-color: #E5E5E5;font-size: 200%;}
	.navbar-inverse .navbar-brand {font-size: 100%;}
	.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {color: #333;}
	.navbar-inverse .navbar-text {color: #333;}
	.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {color: #333;}
	.navbar-brand{font-size: 100%;}
	.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
	/*navbar section*/

	/*text resize queries*/
@media screen and (max-width: 992px) {
  h1 {
    font-size: 60px;  
  }
  h2 {
    font-size: 40px;  
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px;  
  }
  h2 {
    font-size: 30px;  
  }
}


	/*text resize queries*/

.list-group-item{border:none;font-size: 150%;background-color:#E5E5E5 }

